<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Giỏ hàng</h1>

<table border="1">
    <thead>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Hình ảnh</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.product.productName}"></td>
        <td>
            <img th:src="${item.product.image}" alt="" style="width: 100px;" />
        </td>
        <td th:text="${item.product.price} + ' VND'"></td>
        <td>
            <form th:action="@{/cart/update}" method="post">
                <button type="submit" value="0" name="change">-</button>
                <input type="hidden" name="cartId" th:value="${item.cart.id}" />
                <input type="number" name="quantity" min="1" th:value="${item.cart.quantity}" readonly/>
                <button type="submit" value="1" name="change">+</button>
            </form>
        </td>
        <td th:text="${item.product.price * item.cart.quantity} + ' VND'"></td>
        <td>
            <a th:href="@{/cart/delete(cartId=${item.cart.id})}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>

<h3>Tổng giá trị: <span th:text="${total} + ' VND'"></span></h3>

<a href="/home"><button>Tiếp tục mua hàng</button></a>
<a href="pay"><button>Thanh toán</button></a>
</body>
</html>