<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Chi tiết sản phẩm</h1>

<div style="border: 1px solid #ccc; padding: 15px; width: 50%;">
    <h2 th:text="${product.productName}"></h2>
    <p><strong>Mô tả:</strong> <span th:text="${product.description}"></span></p>
    <p><strong>Giá:</strong> <span th:text="${product.price} + ' VND'"></span></p>
    <p><strong>Tồn kho:</strong> <span th:text="${product.stock}"></span></p>

    <form th:action="@{addToCart}" method="post">
        <input type="hidden" name="productId" th:value="${product.id}"/>
        <input type="hidden" name="quantity" value="1"/>
        <button type="submit">Thêm vào giỏ hàng</button>
    </form>


    <a href="/home">
        <button>Quay lại</button>
    </a>
</div>
</body>
</html>