<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
</head>
<body>
<form action="register-save" method="post" th:object="${customer}">
    <h2>Đăng ký</h2>

    <label>Tên đăng nhập</label>
    <input type="text" th:field="*{username}">
    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    <label>Email</label>
    <input type="text" th:field="*{email}">
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <label>Mật khẩu</label>
    <input type="text" th:field="*{password}">
    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    <label>Số điện thoại</label>
    <input type="number" th:field="*{phoneNumber}">
    <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>

    <input type="submit" value="Đăng ký">
</form>
</body>
</html>
